<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>br.com.trabpoo.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JurosSimples</servlet-name>
        <servlet-class>br.com.trabpoo.servlets.JurosSimples</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JurosCompostos</servlet-name>
        <servlet-class>br.com.trabpoo.servlets.JurosCompostos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JurosSimples</servlet-name>
        <url-pattern>/juros-simples</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JurosCompostos</servlet-name>
        <url-pattern>/juros-compostos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
